.center{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 28px;
    margin-top: 15px;
}

.box2
{
    background-color: white;
   
}
.textma
{
    margin-left: 31px;
}
.icon{
    position: absolute;
    right: 0px;
    top: -5px;
    color: goldenrod;
    width: 11%;
    height: 2px;
 
    font-size: 33px;
   
}
.r{
    border-top-left-radius: 1px;
    border-top-right-radius: 2px;
}
.div {
    border: 5px solid rgb(250, 177, 43);
    position: absolute;
    top:294px;
    right: -10px;
    left: -10px;
  }
  .img
  {
    position: absolute;
    
    
  }
  .box3{
    border: 5px solid rgb(250, 177, 43);
  }
  