<ion-header class="box2" >
  <ion-toolbar>
    <ion-title>
      Shop A
      <div class="icon ">
        <ion-icon (click)="close()" name="close-circle"></ion-icon>
      </div>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content >

 
   

      <ion-img  style=" margin-left: -90px;" src="https://cms.dmpcdn.com/travel/2018/03/08/3f1e246d-c908-4752-98da-b27de37e74bb.jpg"></ion-img>
  
  
    <ion-card class="box2 div">
     
        <ion-card-title class="center "> รออีก 5 คิว </ion-card-title>
        <p class="center textmar "> จำนวน 10 คน
        </p>
     
    </ion-card>
  
  

  



</ion-content>