.center{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.box
{
    border-radius: 5px;
}
.box2
{
    border-radius: 5px;
    background-color: white

}
.textma
{
    margin-left: 31px;
}
.icon{
    position: absolute;
    right: 0px;
    top: 6px;
}