
<ion-content padding>
  <ion-icon name="close-circle"></ion-icon>





<ion-card>
 
  <ion-card-header>
    <ion-card-subtitle>Shop A</ion-card-subtitle>

  </ion-card-header>

  <ion-card-content>
    <ion-img src="https://www.ryoiireview.com/upload/article/201709/1504520884_13e3bd753d35c3e273ebf2b9f4ec07ef.jpg">
    </ion-img>
  </ion-card-content>
</ion-card>



<ion-card>
  <ion-card-header>
    <ion-card-title class="text" > รออีก 5 คิว </ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <p class="text">จำนวน 5 คน <ion-icon name="create"></ion-icon> </p>
  </ion-card-content>
  
</ion-card>




</ion-content>