<ion-header>
  <ion-toolbar>
    <ion-title>
      ตั๋วของฉัน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" class="color-sement" mode="ios">
    <ion-segment-button name="buttonRegister" value="getQueueHisTrue" checked>
      การจอง
    </ion-segment-button>
    <ion-segment-button name="buttonLogin" value="getQueueHis">
      ประวัติการจอง
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="queuehistorytrue && queuehistorytrue.data && queuehistorytrue.data.length === 0 ">
    <h1 class="text-center">ไม่มีข้อมูลการจอง</h1>
  </div>
  <app-ticket *ngIf="queuehistorytrue && queuehistorytrue.data && queuehistorytrue.data.length > 0" [queuetrue]="queuehistorytrue" [queue]="queuehistory" (_idqueue)="open($event)">
  </app-ticket>
</ion-content>