<div>
  <!-- <app-upload-image (url)="onUrlCallback($event)">
    <img class="center" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpFRsqHC9ffOTNy2cayoWax5DkvOSq7EqH6XNx0OZFI8IWvMK3"
      alt="อัพโหลดรูปโปรไฟล์">
  </app-upload-image> -->

  <ion-item>
    <ion-label position="fixed">username</ion-label>
    <ion-input [(ngModel)]="regisData.username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">password</ion-label>
    <ion-input type="password" [(ngModel)]="regisData.password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="firstName"> Firstname :</ion-label>
    <ion-input [(ngModel)]="regisData.firstname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position=" lastName"> Lastname :</ion-label>
    <ion-input [(ngModel)]="regisData.lastname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="email">E-mail :</ion-label>
    <ion-input [(ngModel)]="regisData.email"></ion-input>
  </ion-item>
  <ion-col size="12">
    <ion-row>
      <ion-col size="6">
        <ion-button mode="ios" [disabled]="!regisData.username||regisData.password||regisData.firstname||regisData.lastname||regisData.email"
          expand="full" shape="round" (click)="confirm()">ยันยัน</ion-button>

      </ion-col>
      <ion-col size="6">
        <ion-button mode="ios" expand="full" shape="round" color="danger" (click)="cancel()">ยกเลิก</ion-button>
      </ion-col>
    </ion-row>

  </ion-col>
</div>