
.s {
    margin-left: 48px;
    margin-top: -22px;
}
.box {
    background-color: white;
    height: 111px;
    width: 365px;
    margin-bottom: 13px;
    border-radius: 11px;
    margin-left: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  .imageshop {
    height: 78%;
    width: 89%;
    margin-left: -65px;
    border-radius: 5px;
    margin: 5px;
    margin-top: 10px;
}
.p {
    margin-left: 149px;
    margin-right: 0;
    margin-top: -76px;
    margin-bottom: 2px;
    font-size: 15px;
 
    
}

.f {
    margin-left: 149px;
    margin-right: 0;
    margin-top: -87px;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    
    font-weight: bold;
}
.bg{
    --background: #f5faf5d0;
}
.bor {
    border-right: #9fa9a3 solid;
}
.font {
    font-family: 'Mitr', sans-serif;
    font-size: 5vw;
}

.color {
    color: #9fa9a3 solid;
    font-weight: 700;
}