@import url('https://fonts.googleapis.com/css?family=Prompt');
.imageshop {
    // height: 25px;
    width: 100%;
    object-fit: cover;
    border-radius: 2vw;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4px;
    font-size: 5vw;
    font-family: 'Prompt', sans-serif;
}