@import url('https://fonts.googleapis.com/css?family=Prompt');
.imageshop{
    height: 170px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.title{
    font-family: 'Prompt', sans-serif;
}