<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon class="icon" name="arrow-round-back" (click)="back()"></ion-icon>
      รายละเอียดร้านค้า
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="dataDetail && dataDetail.image">
    <img class="image-title" [src]="dataDetail.image" alt="">
  </div>


  <ion-grid class="ion-grid-background" *ngIf="dataDetail && dataDetail.name" class="name-title"
    style="background-color: rgba(49, 41, 41, 0.5);">
    <ion-row>
      <ion-col size="6" text-center>
        <h1 class="text-ellipsis">{{dataDetail.name}}</h1>
      </ion-col>
      <ion-col size="6" align-self-center>
        <ion-badge color="success">เปิดอยู่</ion-badge>
        <ion-badge color="success">ปิด</ion-badge>
        <span class="time text-ellipsis"> จนถึง {{date}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="background-color: white;">
    <ion-row>
      <ion-col size="6" class="bor" text-center>
        <ion-label class="font color">รออีก {{queueData}} คิว</ion-label>
      </ion-col>
      <ion-col size="6" text-center>
        <ion-label class="font color" (click)="reserv()">จองคิว</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="bg-color">
    <div class="title-name">
      <h4 class="font color magin">รูปภาพ บรรยากาศร้าน & รีวิว</h4>
    </div>
    <div *ngIf="dataDetail && dataDetail.imagereview && dataDetail.imagereview.length < 6">
      <ion-grid *ngIf="dataDetail && dataDetail.imagereview">
        <ion-row>
          <ion-col class="box" size="4" *ngFor="let item of dataDetail.imagereview;let i = index"
            (click)="openImageIndex(i)">
            <img [src]="item" alt="err" class="imageshop">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="dataDetail && dataDetail.imagereview && dataDetail.imagereview.length > 6">
      <ion-grid *ngIf="dataDetail && dataDetail.imagereview">
        <ion-row>
          <ion-col class="box" size="4">
            <img [src]="dataDetail.imagereview[0]" (click)="openImageIndex(0)" alt="err" class="imageshop">
          </ion-col>
          <ion-col class="box" size="4">
            <img [src]="dataDetail.imagereview[1]" (click)="openImageIndex(1)" alt="err" class="imageshop">
          </ion-col>
          <ion-col class="box" size="4">
            <img [src]="dataDetail.imagereview[2]" (click)="openImageIndex(2)" alt="err" class="imageshop">
          </ion-col>
          <ion-col class="box" size="4">
            <img [src]="dataDetail.imagereview[3]" (click)="openImageIndex(3)" alt="err" class="imageshop">
          </ion-col>
          <ion-col class="box" size="4">
            <img [src]="dataDetail.imagereview[4]" (click)="openImageIndex(4)" alt="err" class="imageshop">
          </ion-col>
          <ion-col class="box" size="4">
            <img [src]="dataDetail.imagereview[5]" alt="err" class="imageshop"
              [ngClass]="{'image-opacity': dataDetail.imagereview.length > 6}">
            <div class="centered" (click)="openImageIndex(5)">
              <p class="font-image">+{{dataDetail.imagereview.length - 6}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>

  <ion-card class="bg-color" class="style "
    *ngIf="dataDetail && dataDetail.name && dataDetail.descreiption.title && dataDetail.descreiption.detail">
    <ion-card-header>
      <ion-card-subtitle>{{dataDetail.descreiption.title}}</ion-card-subtitle>
      <ion-card-title>{{dataDetail.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{dataDetail.descreiption.detail}}
    </ion-card-content>
  </ion-card>


</ion-content>
<ion-footer
  *ngIf="dataDetail && dataDetail.house_no && dataDetail.district && dataDetail.subdistrict && dataDetail.province && dataDetail.village"
  style="background-color: rgba(255, 103, 43, 0.938);">
  <!-- <ion-grid class="name-footer" style="background-color: rgba(255, 103, 43, 0.938);">
    <ion-row>
      <ion-col> -->
  <h1 class="h1"> {{dataDetail.house_no}} {{dataDetail.district}} {{dataDetail.subdistrict}} {{dataDetail.province}}
    12155 {{dataDetail.village}}</h1>
  <h2 class="h2">โทร. 028876655, 0897766554</h2>
  <!-- </ion-col>

    </ion-row>
  </ion-grid> -->

</ion-footer>