@import url('https://fonts.googleapis.com/css?family=Kanit|Mitr');
.font{
    font-family: 'Mitr', sans-serif;
    font-size: 5vw;
}
.color{
    color: #5a5a5a;
    font-weight: 700;
}

.bor{
    border-right: #9fa9a3 solid;
}

.imageshop{
    height: 170px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
}
