.img {
    width: 65%;
    display: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.center {
    display: table-cell;
    // height: calc(96vh - 145px);
    height: 95vh;
    text-align: center;
    width: 100vw;
    vertical-align: middle;
}
.button {
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 50px;
   
  }
  .imgfacebook {
    display: center;
    margin-left: auto;
    margin-right: auto;
    --background: rgb(76, 15, 247);
    margin-top: 10px;
  
  }
  .imgsingup {
    display: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    --background: rgb(156, 199, 248);
    font-size: 18px;
  }
  .font{
    font-size:18px;
  } 